---
import Layout from '../../layouts/Layout.astro';
import TTSLogs from '../../components/ttsLogs.tsx';

---
<Layout title="tts logs - kevinatruong">
<div class="flex flex-col gap-4">
    <h1>TTS Logs</h1>
    <TTSLogs client:load/>
</div>
</Layout>
