---
import Layout from '../layouts/Layout.astro';
// contact.astro
---

<Layout title="home - kevinatruong">
	<main class="flex flex-col gap-4">
		<h1 id="title" class="">KONTACT ME</h1>
		<form id="contactForm" method="POST" class="flex flex-col gap-4">
			<div class="flex flex-col gap-1">
				<label for="name" class="block"><h4>NAME</h4></label>
				<input autocomplete="off" type="text" id="name" name="name" required class="w-4/5 lg:w-3/5 h-10 px-2 bg-dark text-light focus:outline-none focus:ring-2 focus:ring-dark" />
			</div>

			<div class="flex flex-col gap-1">
				<label for="email" class="block"><h4>EMAIL</h4></label>
				<input autocomplete="on" type="text" id="email" name="email" required class="w-4/5 lg:w-3/5 h-10 px-2 bg-dark text-light focus:outline-none focus:ring-2 focus:ring-dark" />
			</div>

			<div class="flex flex-col gap-1">
				<label for="message" class="block"><h4>MESSAGE</h4></label>
				<textarea id="message" name="message" required class="w-11/12 h-72 p-2 bg-dark text-light focus:outline-none focus:ring-2 focus:ring-dark"></textarea>
			</div>

			<button type="submit" id="submitButton" class="w-24 h-10 bg-dark text-light">
				SEND
			</button>
		</form>

		<script src="../scripts/contactForm.ts"></script>
	</main>
</Layout>