---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home - kevinatruong">
	<main>
		<h1>HELLO.<br> WELCOME TO <a href="/meds">M</a>Y WEBSITE</h1>
	</main>
</Layout>

<style>
	@media screen and (min-width: 768px){
		h1 {
			padding: 50px 0;
		}
	}
	a {
		color: var(--primary);
		text-decoration: none;
	}
</style>
