---

import Layout from '../layouts/Layout.astro';
---

<Layout title="info - kevinatruong">
	<div class="flex flex-col gap-4">
        <div class="object-cover w-[clamp(15rem,17vw,50rem)] h-[clamp(15rem,17vw,50rem)]">
            <img src="/info/kevin_prof.jpeg" alt="me" />
        </div>
        <div class="flex flex-col gap-4 lg:gap-6">
            <h3 class="!font-semibold">born in 2001</h3>
            <h3 class="!font-semibold">bacholors in computer science from colorado state</h3>
            <h3 class="!font-semibold">software engineer | <a class="underline" id="resume" href="/info/resume.pdf">resume</a></h3>
            <h3 class="!font-semibold">develops software and apps</h3>
            <h3 class="!font-semibold">specializes in web development, systems administation, and machine learning</h3>
            <h3 class="!font-semibold">makes digital art, paintings, scultures, and drawings</h3>
            <h3 class="!font-semibold"><a class="underline" id="contact" href="/contact">email me</a></h3>
        </div>
	</div>
</Layout>
