---

import Layout from '../layouts/Layout.astro';
import { getImages } from '../scripts/generateImages'
const artImages = getImages("info").map((img) => `/info/${img}`);
---

<Layout title="info - kevinatruong">
	<main>
        <section class="photos">
            {artImages.map((image) => (
              <img src={image} alt="Art" />
            ))}
        </section>
        <section class="information">
            <!-- <br> -->
            <p>born in 2001</p>
            <!-- <br> -->
            <p>software engineer from colorado</p>
            <!-- <br> -->
            <p>develops software and apps</p>
            <!-- <br> -->
            <p>specializes in web development and machine learning</p>
            <!-- <br> -->
            <p>makes digital art, paintings, and drawings</p>
            <!-- <br> -->
            <a id="contact" href="/contact"><p>contact me</p></a>
        </section>
	</main>
</Layout>

<style>
	main {
        font-size: 24px;
        font-weight: 450;
	}
    .photos img {
        padding-right: 10px;
        width: 25%;
    }
    P {
        margin: 20px 0;
    }
    a {
        /* text-decoration: none; */
        color: var(--primary);
    }
</style>
