---

import Layout from '../layouts/Layout.astro';
import { getImages } from '../scripts/generateImages'
const artImages = getImages("info").map((img) => `/info/${img}`);
---

<Layout title="info - kevinatruong">
	<main>
        <div class="photos">
            {artImages.map((image) => (
              <img src={image} alt="me" />
            ))}
        </div>
        <div class="information">
            <p>born in 2001</p>
            <p></p>
            <p>software engineer from colorado | <a id="cv" href="/info/resume.pdf">cv</a></p>
            <p>develops software and apps</p>
            <p>specializes in web development and machine learning</p>
            <p>makes digital art, paintings, and drawings</p>
            <p><a id="contact" href="/contact">email me</a></p>
        </div>
	</main>
</Layout>

<style>
	main {
        font-size: 24px;
        font-weight: 500;
	}
    .photos img {
        padding-right: 10px;
        width: 30%;
    }
    @media screen and (max-width: 768px){
        .photos img {
            padding-right: 10px;
            width: 45%;
        }
    }
    P {
        margin: 20px 0;
    }
    a {
        /* text-decoration: none; */
        color: var(--primary);
    }
</style>
