---

import Layout from '../layouts/Layout.astro';
import { getImages } from '../scripts/generateImages'
const artImages = getImages("info").map((img) => `/info/${img}`);
---

<Layout title="info - kevinatruong">
	<main>
        <section class="photos">
            {artImages.map((image) => (
              <img src={image} alt="Art" />
            ))}
        </section>
        <section class="information">
            <!-- <br> -->
            <p>born in 2001</p>
            <!-- <br> -->
            <p>software engineer from colorado</p>
            <!-- <br> -->
            <p>develops software and apps</p>
            <!-- <br> -->
            <p>specializes in web development and machine learning</p>
            <!-- <br> -->
            <p>makes digital art, paintings, and drawings</p>
            <!-- <br> -->
        </section>
	</main>
</Layout>

<style>
	main {
        font-size: 24px;
        font-weight: 550;
	}
    .photos img {
        padding-right: 10px;
        width: 33%;
    }
</style>
