---
import Layout from '../layouts/Layout.astro';
import SpotifyData from '../components/SpotifyData';

const response = await fetch('https://kevinatruong.com/api/spotify/data');
const spotifyData = await response.json();
---

<Layout title="music - kevinatruong">
	<main>
		<SpotifyData client:load/>
		<br></br>
		<br></br>
	</main>
</Layout>

<style is:inline>
	img{
		width: 100px;
		height: 100px;
	}
	main {
		margin-left: 0;
		margin-right: 0;
	}
	h2 {
		margin: 40px 20px 10px;
	}
	img {
		object-fit: cover;
	}
	/* profile div ============================ */
	@media screen and (max-width: 768px) {
		.profile {
			/* justify-content: center; */
			/* text-align: center; */
		}
	}
	.profile {
		display: flex;
		margin-left: 20px;
	}
	.profile-pic {
		margin: auto 0px;
		justify-content: center;
	}
	.profile-pic img {
		width: 200px;
		height: 200px;
	}
	.profile-info {
		text-align: left;
		margin: 10px;
		margin-right: 0;
	}
	.profile-info a {
		color: var(--primary);
		text-decoration: none;
		font-size: 2.5em;
		margin: 0;
	}
	.profile-info a h1 {
	}
	.profile-info > * {
		margin: 5px 0;
	}
	
	/* currently playing div ============================ */
	.currently-playing {
		font-size: .8em;
	}
	.currently-playing h3 {
		margin: 5px 0;
		margin-top: 10px;
	}
	.currently-playing-container {
		margin: auto 0;
		display: block;
	}
	.currently-playing-container > * {
		padding: 0;
	}
	.currently-playing-pic {
		margin: auto 0 0 0;
	}
	.currently-playing-pic img {
		width: 75px;
		height: 75px;
	}
	.currently-playing-info {
		margin: auto 0;
		display: flex;
	}
	.currently-playing-song {
		margin: auto 10px auto 0;
		margin-left: 10px;
	}
	.currently-playing-song > * {
		margin:	0;
	}
	.progress-container {
		margin: 0px 0;
	}
	.progress-bar-container {
		display: block;
		width: 100%;
		height: 10px;
		background-color: #ddd;
		border-radius: 5px;
		position: relative;
		overflow: hidden;
	}
	.progress-bar {
		height: 100%;
		background-color: #111111;
	}
	.progress-time h6 {
		margin: 0;
	}
	@media screen and (max-width: 768px) {
		.currently-playing-container {
			min-width: 175px;
		}
		.currently-playing-pic img {
			width: 50px;
			height: 50px;
		}
	}

	/* artists div ============================ */
	.artists-container {
		overflow-x: auto;
		max-width: 100%;
	}
	.artists-container::-webkit-scrollbar {
		display: none;
	}
	.artists {
		display: flex;
		flex-direction: row;
	}
	.artist {
		flex: 0 0 150px;
		margin-left: 20px;
	}
	.artist img {
		width: 100%;
		height: 150px;
		border-radius: 100px;
	}
	.artist > * {
		margin: 2px;
	}
	
	/* tracks div ============================ */
	.tracks {
		margin-left: 20px;
	}
	.track {
		display: flex;
		flex-direction: row;
		margin: 5px;
	}
	.track-pic {
		margin: auto 0px;
	}
	.track-pic img {
		width: 85px;
		height: 85px;
	}
	.track-info {
		margin: auto 10px;
	}
	.track-info > * {
		margin: 0;
	}

	/* playlists div ============================ */
	.playlists-container {
		overflow-x: auto;
		max-width: 100%;
	}
	.playlists-container::-webkit-scrollbar {
		display: none;
	}
	.playlists {
		display: flex;
		flex-direction: row;
	}
	.playlist {
		flex: 0 0 250px;
		margin-left: 20px;
	}
	.playlist img {
		width: 100%;
		height: 250px;
	}
	.playlist > * {
		margin: 0;
	}
	@media screen and (max-width: 768px) {
		main {
			margin: 0;
			margin-top: 10px;
		}
		h2 {
			margin: 25px 10px 10px;
		}
		.profile {
			margin: 10px;
		}
		.profile-pic img {
			width: 150px;
			height: 175px;
		}
		.artist {
			margin-left: 10px;
		}
		.tracks {
			margin: 10px;
		}
		.playlist {
			margin-left: 10px;
		}
	}
</style>
