---
import Layout from '../layouts/Layout.astro';
---

<Layout title="projects - kevinatruong">
	<main>
        <h1><a id="gh" href="https://github.com/truongakevin">GitHub</a></h1>
        <h1><a id="ptp" href="/pic-to-playlist">Pic to Playlist</a></h1>
        <h1><a id="ae" href="/aesthetic-matcher">aesthetic matcher</a></h1>
        <h1><a id="tts" href="/tts">TTS</a></h1>
        <h1><a id="ja" href="/job-assist">Job Assistant</a></h1>
	</main>
</Layout>

<style>
    h1 {
        margin: 0px;
        padding: 0px;
    }
    a {
        margin: 0px;
        padding: 0px;
        text-decoration: none;
        letter-spacing: -.04em;
    }
    #gh {
        font-family: Helvetica Neue;
        color: var(--primary)
    }
    @font-face {
        font-family: 'CircularStd';
		src: url('/fonts/CircularStd/CircularStd-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
	}
    #ptp {
        font-family: CircularStd;
        color: #1DB954;
        letter-spacing: -.07em;
    }
    #ae {
        font-family: Rowdies;
        color: #D39DD3;
    }
    #tts {
        color: var(--primary);
        letter-spacing: 0;
    }

    @import url('<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">');
    #ja {
        font-family: 'Work Sans', Arial;
        color: black;
    }
</style>
