---
import Layout from '../layouts/Layout.astro';
---

<Layout title="tts - kevinatruong">
	<main>
		<h2 id="title">SEND TTS</h2>
		<form id="ttsForm" autocomplete="off">
			<label for="message">MESSAGE</label><br>
			<textarea id="message" name="message" maxlength="64" required></textarea><br>
            
            <label for="voice_id">VOICE</label><br>
            <div class="voices">
                <select id="voice_id" name="voice_id" required>
                    <option value="" disabled selected>Select a voice</option>
                </select><br>
                <button type="button" id="playPreviewButton">HEAR VOICE</button><br>
            </div>
			
			<button type="submit" id="submitButton">
				SEND
			</button>
		</form>

		<script src="../scripts/ttsForm.js"></script>
		<script src="../scripts/ttsVoices.js"></script>
	</main>
</Layout>

<style>
	main {
		font-size: .60em;
	}
	h2 {
		margin: 20px 0;
	}
	input, textarea, button, select {
		background-color: var(--primary);
		color: var(--secondary);
		width: 60%;
		height: 1.75em;
		padding-left: .2em;
		margin-top: 5px;
		margin-bottom: 20px;
		border: 5px solid var(--primary);
		font-size: .75em;
	}
	textarea {
		padding: 10px;
		height: 300px;
		width: 90%;
	}
	input:focus, textarea:focus, select:focus {
		outline: none;
	}
	button {
		width: 5em;
		margin-bottom: 100;
	}

    .voices {
        display: flex;
    }
    .voices select{
        margin-right: 25px;
    }
    .voices button{
        align-self: center;
        font-size: .7em;
        width: 8em;
    }

</style>