---
const { currentPath } = Astro.props;
const navLinks = [
  { id: "home",      href: "/",           label: "KEVINATRUONG" },
  { id: "info",      href: "/info/",       label: "INFO" },
  { id: "contact",   href: "/contact/",    label: "KONTAKT" },
  { id: "projects",  href: "/projects/",   label: "PROJEKTS" },
  { id: "paintings",       href: "/paintings/",  label: "PAINTINGS" },
  { id: "music",     href: "/music/",      label: "MUSIK" },
  // { id: "meds",      href: "/meds/",       label: "MEDIKATION" },
  // { id: "tts",       href: "/tts/",        label: "TTS" },
  // { id: "tiktok",    href: "/tiktok/",     label: "TIKTOK" },
  // { id: "tiktok",    href: "/kevinbot/",   label: "KEVINBOT" },
];
---

<nav class="text-right transition">
  {navLinks.map(({ id, href, label }) => {
    const isActive = currentPath === href;
    return (
      <h1 class="transition duration-300 group">
      <a
        id={`nav-${id}`}
        href={href}
        class={`break-words w-full transform group-hover:-traslate-x-8 transition duration-300 ${
        isActive ? "text-accent pointer-events-none" : ""
        }`}
      >
        {label}
      </a>
      </h1>
    );
  })}
</nav>