---
import Layout from '../../layouts/Layout.astro';
import MedTimerDisplay from '../../components/MedTimer.jsx';

const medicationName = "bupropion";
---

<Layout title="meds - kevinatruong">
	<main>
        <h1>TIME SINCE KEVIN TOOK HIS MEDICATION</h1>
        <MedTimerDisplay client:load medName={medicationName} />
	</main>
</Layout>

<style>
    h1 {
        margin: 50px 0px 25px;
    }
	@media screen and (max-width: 768px){
        main {
            text-align: center;
        }
	}
</style>
