---
import Layout from '../../layouts/Layout.astro';
import MedTimerDisplay from '../../components/MedTimer.tsx';

const medicationName = "bupropion";
---

<Layout title="meds - kevinatruong">
	<div class="flex flex-col gap-2">
        <h1>TIME SINCE KEVIN TOOK HIS MEDIKATION</h1>
        <MedTimerDisplay client:load medName={medicationName} />
	</div>
</Layout>
