---
import Layout from '../../layouts/Layout.astro';
import MedTimerDisplay from '../../components/MedTimer.jsx';
import MedResetButton from '../../components/MedTimerReset.jsx';

const medicationName = "bupropion";
---

<Layout title="meds reset - kevinatruong">
	<main>
        <h4>MEDICATION TIMER RESET</h4>
        <MedTimerDisplay client:load medName={medicationName} />
        <MedResetButton client:load medName={medicationName} minWaitTime={(12)*60*60} />
	</main>
</Layout>

<style>
    h4 {
        margin: 50px 0px 25px;
    }
	@media screen and (max-width: 768px){
        main {
            text-align: center;
        }
	}
</style>
