---
import Layout from '../../layouts/Layout.astro';
import MedTimerDisplay from '../../components/MedTimer.tsx';
import MedResetButton from '../../components/MedTimerReset.tsx';

const medicationName = "bupropion";
---

<Layout title="meds reset - kevinatruong">
	<div class="flex flex-col gap-2">
        <h2>BUPROPION</h2>
        <MedTimerDisplay client:load medName={medicationName} />
        <MedResetButton client:load medName={medicationName} minWaitTime={(20)*60*60} />
	</div>
</Layout>
