---
import "../styles/global.css";
import Nav from '../components/Nav.astro';
const currentPath = Astro.url.pathname;
const { title, noPadding = false } = Astro.props;

---

<!doctype html>
<html lang="en" class="overflow-x-hidden lg:overflow-y-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="explore kevin truong's personal portfolio webpage!"/>
		<link rel="icon" href="/icon/favicon.png?" type="image/x-icon">
		<meta name="theme-color" content="#111111"/>
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-V9BWSDY0JS"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-V9BWSDY0JS');
		</script>
	</head>
	<body class="flex flex-col lg:flex-row h-screen bg-light text-dark">
		<div class="navdiv
			w-full lg:w-4/12 px-2 py-2 lg:px-4 lg:py-16
			bg-dark text-light
			transition-all duration-500 ease-in-out
		">
			<Nav currentPath={currentPath} />
		</div>
		<main id="page-main" 
			class="contentdiv fade-slide-in
			bg-light text-dark h-full
				w-full lg:w-9/12 py-2 pb-8 lg:py-16 lg:overflow-y-auto lg:px-4 px-2
		">
			<slot />
		</main>
	</body>
	<script src="../scripts/pageTransitions.ts"></script>
</html>
