---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Nav from '../components/Nav.astro';
const currentPath = Astro.url.pathname;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="explore kevin truong's personal portfolio webpage!"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/icon/favicon.png?" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-V9BWSDY0JS"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-V9BWSDY0JS');
		</script>
	</head>
	<body>
		<Nav currentPath={currentPath} />
		<div class="content">
			<slot />
		</div>
		<script src="../scripts/pageTransitions.js"></script>
	</body>
</html>
<style is:global>
	:root {
		/* --primary: #F2EFEA;
		--secondary: #111111; */
		--primary: #111111;
		--secondary: #F2EFEA;
		--accent: #8B8B8B;
	}
	html {
		font-family: Archivo;
		font-weight: 700;
		font-size: 2em;
		background-color: var(--primary);
	}
	body::-webkit-scrollbar {
		display: none;
	}
	body { 
		margin: 0;
		display: flex;
		min-height: 100vh
	}
	@media screen and (min-width: 768px){
		.content {
			width: 100%;
			margin-left: 30%;
			padding-left: 40px;
		}
	}
	main {
		background-color: var(--secondary);
		color: var(--primary);
		animation: slideDown 0.5s ease-in-out forwards;
		align-items: start;
		font-size: .75em;
		flex: 1;
		margin: 0px;
		padding: 20px;
		padding-top: 100px;
		padding-bottom: auto;
	}

	.content {
		height: auto;
	}

	main > * {
		margin: 0px;
	}

	@media screen and (max-width: 768px){
		html {
			font-size: 1.75em;
		}
		body {
			display: block;
		}
		main {
			padding: 15px;
			padding-top: 15px;
		}
	}

	@keyframes slideUp {
		0% {
			transform: translateY(0);
			opacity: 1;
		}
		100% {
			transform: translateY(-200%);
			opacity: 0;
		}
    }
	@keyframes slideDown {
		0% {
			transform: translateY(200%);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
	
	.slide-up {
		animation: slideUp 0.5s forwards;
	}

	.slide-down {
		animation: slideDown 0.5s forwards;
	}

	@media screen and (max-width: 768px){
		@keyframes slideUp {
			0% {
				transform: translateX(0);
				opacity: 1;
			}
			100% {
				transform: translateX(-100%);
				opacity: 0;
			}
		}
		@keyframes slideDown {
			0% {
				transform: translateX(100%);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}

</style>
